body {
  font-size: 18px;
}

.container {
  padding: 40px;
}

h1, h2, h3 {
  font-size: 2em; /* Aumenta aún más el tamaño del texto en pantallas grandes */
  text-align: center; /* Centra el texto */
}

img, video {
  max-width: 100%; /* Asegura que las imágenes y videos no excedan el ancho del contenedor */
  height: auto; /* Mantiene la proporción de aspecto */
  display: block; /* Asegura que se comporten como elementos de bloque */
  margin: 0 auto; /* Centra imágenes y videos */
}

/* Estilos para formularios */
form {
  display: flex; /* Utiliza flexbox para el diseño del formulario */
  flex-direction: column; /* Asegura que los elementos del formulario estén en columnas */
  margin: 20px 0; /* Añade margen para separar formularios */
  max-width: 600px; /* Limita el ancho del formulario */
  margin-left: auto; /* Centra el formulario */
  margin-right: auto; /* Centra el formulario */
}

input, select, textarea {
  width: 100%; /* Asegura que los campos del formulario llenen el ancho del contenedor */
  padding: 12px; /* Añade espacio interno a los campos */
  margin: 5px 0; /* Espacio entre los campos */
  font-size: 18px; /* Tamaño de fuente para los campos */
}