body {
  font-size: 14px;
}

.container {
  padding: 10px;
}

h1, h2, h3 {
  font-size: 1.2em; /* Ajusta el tamaño del texto */
  text-align: center; /* Centra el texto */
}

img, video {
  max-width: 100%; /* Asegura que las imágenes y videos no excedan el ancho del contenedor */
  height: auto; /* Mantiene la proporción de aspecto */
}

/* Estilos para formularios */
form {
  display: flex; /* Utiliza flexbox para el diseño del formulario */
  flex-direction: column; /* Asegura que los elementos del formulario estén en columnas */
  margin: 10px 0; /* Añade margen para separar formularios */
}

input, select, textarea {
  width: 100%; /* Asegura que los campos del formulario llenen el ancho del contenedor */
  padding: 8px; /* Añade espacio interno a los campos */
  margin: 5px 0; /* Espacio entre los campos */
  font-size: 14px; /* Tamaño de fuente para los campos */
}